body {
	margin: 0;
	padding: 0;

	background-color: var(--background-color);
	color: var(--text-color);
	/* background-color: rgb(var(--m3-scheme-background)); */
	/* color: rgb(var(--m3-scheme-on-background)); */
}

:root {
	color-scheme: light dark;

	--background-color: light-dark(#f6f8fa, #010409);
	--text-color: light-dark(#444, #ffffff);
	--text-muted: light-dark(#444, #9198a1);

	--border-color1: light-dark(#d1d9e0, #9198a1);

	--background-color2: light-dark(white, #0d1117);

	--background-highlight: light-dark(white, #0d1117);

	--background-selected: light-dark(#f6f8fa, #212830);

	--border-active: light-dark(#0757ba, #0757ba);
}

